<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Twitter Fake News</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-dark bg-primary justify-content-center">
      <h1 style="font-size: 4vmax; color: white;">Twitter Fake News<img class="padded" src="../static/images/twitter_logo.png" style="max-height:10vh"></h1>
    </nav>

    <!-- CARD SECTION-->
    <section class="container-fluid d-flex justify-content-center">
      <div class="row d-flex justify-content-center" style="padding-right:5vw; padding-left:5vw; width: 100%;"> 
      {% for tweet in range(0, len) %}
        <div class="card border-primary mx-auto" style="min-width:30vw; width:40vmax; height:auto">
          <div class="card-body">
            <h5 class="card-title">{{list_sources[tweet]}}</h5>
            <p class="card-text font-italic">{{list_tweets[tweet]}}</p>
            <small class="text-muted float-right">{{list_times[tweet]}}</small>
          </div>
          <div class="card-footer">
            
            <!-- RATE BUTTONS -->
            <h6>Rate this tweet:</h6>
            <div class="row d-flex justify-content-center">
              <div class="col-lg-3 mb-1" style="min-width:10vh;">
                <a href="#" class="btn btn-primary" style="width: 100%;">Fake</a>
              </div>
              <div class="col-lg-3 mb-1" style="min-width:10vh;">
                <a href="#" class="btn btn-primary" style="width: 100%;">Maybe</a>
              </div>
              <div class="col-lg-3 mb-1" style="min-width:10vh;">
                <a href="#" class="btn btn-primary" style="width: 100%;">Truth</a>
              </div>
            </div>  
            <!-- END RATE BUTTONS -->

          </div>
        </div>
      {% endfor %}
      </div>
    </section>
    <!-- END CARD SECTION -->

    <!-- CONFIRM BUTTON -->
    <div class="row justify-content-center padded" style="width: 100%; margin: 0;">
      <a href="#" class="btn btn-success confirm-button">CONFIRM</a>
    </div>
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>