{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "index" %}

{% block head %}
    {% include "head.html" %}
{% endblock %}


{% block content %}
    {% include "nav.html" %}
    
    <div class="container-fluid" style="padding: 10em 8em">
        <div class="row main-cont justify-content-md-center">
            <div class="col-md-5">
                <div class="display-1" style="font-family: 'Roboto Black'"><span>How it works</span></div>
                <div class="col-md-8" style="padding-top: 3em">
                    <p><h5>1. Download a new set of tweets or choose from those available</h5></p>
                    <p><h5>2. Read the tweets</h5></p>
                    <p><h5>3. Choose between one: True, Maybe or Fake</h5></p>
                    <p><h5>4. Click the confirm button to submit your results</h5></p>
                </div>
            </div>
            <div class="col-md-6" style="height: 500px; background: rgb(136,213,201);background: linear-gradient(72deg, rgba(136,213,201,1) 0%, rgba(53,76,218,1) 100%);">
            </div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}

{% block scripts %}
    {% include "scripts.html" %}
{% endblock %}