{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {% include "head.html" %}
{% endblock %}


{% block content %}
     <!-- LOADING -->
    <div id="overlay">
      <div class="d-flex justify-content-center" style="width: 100%; height: 100%;">  <!-- DISAPPEARS AFTER 5 SEC -->
        <div class="spinner-grow spinner" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <!-- END LOADING -->

    {% include "no_interaction_nav.html" %}

    <div class="d-flex justify-content-center"><h2>Rate these tweets</h2></div>

        <form id="test_form" action="" method="post" class="btn-group-toggle" style="font-family: 'Roboto'; color: #5a6268">
            {% for tweet in tweets %}
                <div class="row d-flex justify-content-center">
                    <blockquote class="twitter-tweet" data-cards="hidden"><p lang="en" dir="ltr">{{ tweet["text"] }}</p>{{ tweet["source"] }}
                        <a href="https://twitter.com/{{ tweet["source"] }}/status/{{ tweet["id"] }}">{{ tweet["created_at"] }}</a>
                    </blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="btn-group-toggle" data-toggle="buttons">
                        {{ form.hidden_tag() }}
                        {% for subfield in form[tweet["progressive"]] %}
                            <label class="btn btn-outline-light">
                                {{ subfield }} {{ subfield.label }}
                            </label>
                        {% endfor %}

                    </div>
                </div>
            {% endfor %}

            <!-- CONFIRM BUTTON -->
            <div class="row justify-content-center padded" style=" margin: 0;">
                {{ wtf.form_field(form.submit, button_map={'submit':'success'}) }}
            </div>
        </form>
    </div>
    <!-- END CARD SECTION -->
{% endblock %}

{% block scripts %}
    {% include "scripts.html" %}

    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>



    <script>
      $(window).on('load', function () {
        setTimeout(function(){
          $('#overlay').fadeOut();
        }, 3000);
    });
    </script>
{% endblock %}