{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "download_tweets_sets" %}

{% block head %}
    {% include "head.html" %}
{% endblock %}

{% block content %}
    {% include "nav.html" %}

    <div class="container-fluid" style="padding: 10em 8em">
        <div class="row main-cont">
                <div class="col-md-5">
                    <div class="card" id="form_card" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.15); border: none; border-radius: .75rem">
                        <div class="card-body" style="padding: 3.5em 3.5em 3.5em 3.5em;">
                            <h3 class="card-title" style="margin-bottom: 25px; font-family: 'Roboto Medium'">
                                <strong>Scarica un nuovo set di tweet</strong>
                            </h3>
                            <form id="main_form" action="" method="post" style="font-family: 'Roboto'; color: #5a6268">
                                {{ form.hidden_tag() }}
                                {{ wtf.form_field(form.set_name) }}
                                {{ wtf.form_field(form.search_keyword) }}
                                {{ wtf.form_field(form.tweets_number) }}
                                {{ wtf.form_field(form.submit, button_map={'submit':'success'}) }}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card" style="max-height: 640px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.15); border: none; border-radius: .75rem">
                        <div class="card-body" style="padding: 3.5em 3em 3.5em 3em;">
                            <h3 class="card-title" style="margin-bottom: 25px; font-family: 'Roboto Medium'"><strong>Set già scaricati</strong></h3>
                            <div class="table-responsive" style="max-height: 480px">
                                <table class="table table-hover table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Set Name</th>
                                            <th scope="col">Search Keyword</th>
                                            <th scope="col">Number of Tweets</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for set in tweets_sets %}
                                            <tr>
                                                <th scope="row">{{ set.id }}</th>
                                                <td>{{ set.set_name }}</td>
                                                <td>{{ set.search_keyword }}</td>
                                                <td>{{ set.tweets_number }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include "scripts.html" %}
{% endblock %}


